.section-2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: white;
}

.photo-list {
  width: 100%;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.section-2-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.section-2-main-text {
  width: 30%;
  font-size: 2rem;

  h3 {
    font-weight: 300;
  }
}

.section-2-other-text {
  width: 30%;

  button {
    color: white;
    font-size: 1rem;
    border: none;
    padding: 1rem 3rem;
    margin: 1rem 0;
    background-color: #0373c5;
  }
}

@media screen and (max-width:1250px) {
  .section-2-main-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1150px) {
  .section-2-other-text {
    width: 50%;
  }
}

@media screen and (max-width: 960px) {
  .photo-list {
    height: 400px;
  }

  .section-2 {
    height: 600px;
  }

  .section-2-main-text {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media screen and (max-width: 680px) {
  .photo-list {
    height: 320px;
  }

  .section-2 {
    height: 550px;
  }
}

@media screen and (max-width: 510px) {
  .photo-list {
    height: 220px;
  }

  .section-2 {
    height: 450px;
  }
}

@media screen and (max-width: 390px) {
  .photo-list {
    height: 200px;
  }

  .section-2 {
    height: 450px;
  }
}