.button-container {
  color: white;
  font-size: 1rem;
  border: none;
  padding: 1rem 3rem;
  margin: 0.2rem;
  background-color: #0373c5;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
  }

  &.google {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}