.photo {
  height: 450px;
  width: 400px;
  margin: 2rem;
  position: relative;
  border-radius: 5%;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    bottom: 50%;
    font-size: 3rem;
    z-index: 1;
  }
}

.photo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba($color: #1100ff, $alpha: 0.2);
}

@media screen and (max-width:1250px) {
  .photo {
    height: 380px;
    width: 300px;
    margin: 1.5rem;
  }

  .photo p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .photo {
    height: 330px;
    width: 250px;
    margin: 1.5rem;
  }
}

@media screen and (max-width: 799px) {
  .photo {
    height: 280px;
    width: 200px;
    margin: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .photo {
    height: 260px;
    width: 220px;
    margin: 1.5rem;
  }
}

@media screen and (max-width: 510px) {
  .photo {
    height: 200px;
    width: 150px;
    margin: 1.5rem;
  }
}

@media screen and (max-width: 430px) {
  .photo {
    height: 200px;
    width: 130px;
    margin: 0.2rem;
  }
}

@media screen and (max-width: 390px) {
  .photo {
    height: 170px;
    width: 120px;
    margin: 0.5rem;
  }
}